 <!-- Soy -->
 <section id="nt" class="nombreTitulo">
    <div class="container text-center">
      <div class="row">
        <div class="col-3"></div>
          <div class="col-6">
            <h1 class="text-white">Jorge Abregú</h1>
            <h2 class="text-white">Desarrollador Full Stack Jr.</h2>
          </div>
        <div class="col-3"></div>   
      </div>
    </div>
 </section>
 <section id="soy" class="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-4"></div> 
        <div class="col-4">
          <img src="/assets/imagenes/perfil2.png" alt="Yo" class="perfilMoment rounded-circle w-100">
        </div>
        <div class="col-4"></div> 
        
      </div>
    </div>
  </section>
