 <!-- EDUCACIÖN -->
 <section id="educación" class="education">
    <!-- EDUCACION -->
    <h2 class="educacion text-primary text-center">EDUCACION</h2>
    <br>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card mb-3">
            <img src="/assets/imagenes/argProg.jpg" class="card-img-top" id="argProg">
            <div class="card-body">
              <h3 class="card-title">En Curso</h3>
              <hr>
              <h4>Argentina Programa</h4>
              <hr>
              <h5 class="h5Estudios">Desarrollador Full Stack Jr.</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <img src="/assets/imagenes/universitas.jpeg" class="card-img-top" id="universitas">
            <div class="card-body">
              <h3 class="card-title"><strong>Terciarias</strong></h3>
              <hr>
              <h4><strong>Universitas Estudios Superiores</strong></h4>
              <hr>
              <h5 class="h5Estudios">Técnico Superior en Administración de Personal</h5>
              <hr>
              <h5 class="h5Estudios">Técnico en Marketing</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-3">
            <img src="/assets/imagenes/barker.jpg" class="card-img-top" id="barker">
            <div class="card-body">
              <h3 class="card-title">Secundario</h3>
              <hr>
              <h4>Colegio Barker</h4>
              <hr>
              <h5 class="h5Estudios">Bachiller Bilingüe</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
  </section>
