    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="\assets\imagenes\APLogo-20-20.png" alt="Argentina Programa" width="20%" height="">
        </a>
        
       
        <ul class="list-group list-group-horizontal">     <!-- Button trigger modal -->
          <li class="list-group-item text-white">
            <i class="fa-solid fa-door-closed fa-2xl" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
            </i>
          </li>
        </ul>
        
      </div>
      <app-login></app-login>
     
