<!-- PROYECTOS -->
<section>
  <h2 class="proyectos text-primary">PROYECTOS</h2>
  <div class="containerP text-dark">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-6 parte1">
        <h2>Mi Portfolio para Argentina Programa</h2>
        <p>
          lorem muy zanahorias, desarrollador Adipado de tomate.¡Hacer cumplir
          el placer del consecutivo y complacer a otras incomodidades halagador
          de oficinas de distinción adicionales Los modos de los tiempos de
          trabajo de los regalos rechazan la ventaja del cuerpo!
        </p>
      </div>
      <div class="col-4 parte2">
        <img src="/assets/imagenes/MiPort.jpg" class="img-fluid img-proyecto" />
      </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-6 parte1">
          <h2>Proyecto QR</h2>
          <p>
            lorem muy zanahorias, desarrollador Adipado de tomate.¡Hacer cumplir
            el placer del consecutivo y complacer a otras incomodidades halagador
            de oficinas de distinción adicionales 
          </p>
        </div>
        <div class="col-4 parte2">
          <img src="/assets/imagenes/Proyecto Qr.jpg" class="img-fluid img-proyecto2" />
        </div>
      </div>
  </div>
  <br />
  <br />
</section>
