  <!-- Floating Social Media bar Starts -->
  <div class="float-sm">

    <div class="fl-fl float-lk">
      <a id="link" href='https://linkedin.com/intent/tweet?text="I%20wonder%20what%20happens%20if%20I%20click%20that%20sizeable%20button%20above."%20--Anonymous' target="_blank">
      <i class="fa fa-linkedin" style="font-size:25px;"></i>
   </a>
    </div>

    <div class="fl-fl float-ig">
        <a id="link" href='https://instagram.com/intent/instagram?text="I%20wonder%20what%20happens%20if%20I%20click%20that%20sizeable%20button%20above."%20--Anonymous' target="_blank">
        <i class="fa fa-instagram" style="font-size:25px;"></i>
     </a>
      </div>

      <div class="fl-fl float-gi">
          <a id="link" href='https://github.com/intent/github?text="I%20wonder%20what%20happens%20if%20I%20click%20that%20sizeable%20button%20above."%20--Anonymous' target="_blank">
        <i class="fa fa-github" style="font-size:25px;"></i>
        </a>
      </div>
      <div class="fl-fl float-wh">
        <a id="link" href='https://whatsapp.com/intent/github?text="I%20wonder%20what%20happens%20if%20I%20click%20that%20sizeable%20button%20above."%20--Anonymous' target="_blank">
      <i class="fa fa-whatsapp" style="font-size:25px;"></i>
      </a>
    </div>

  </div>
  <!-- Floating Social Media bar Ends -->