  <!-- EXPERIENCIA -->
  <section id="experiencia" class="experience">
    <h2 class="experiencia text-primary">EXPERIENCIA</h2>
    <br>
    <div class="general-container">
      <input class="radio" type="radio" name="card" id="card-1" checked />
      <label class="content" for="card-1">
        <h2 class="card-title c-1"><strong>
            Administración de Personal
            <br>
            Administración de Pymes
            <br>
            Administración de Obras
            <br>
            Administración CET
          </strong></h2>
      </label>
      <input class="radio" type="radio" name="card" id="card-2" />
      <label class="content" for="card-2">
        <h2 class="card-title c-2"><strong>
            Tiempo Compartido
            <br>
            Telefonía Celular
            <br>
            Productos de Consumo Masivo
            <br>
          </strong></h2>
      </label>
      <input class="radio" type="radio" name="card" id="card-3" />
      <label class="content" for="card-3">
        <h2 class="card-title c-3"><strong>
            Cobranzas
            <br>
            Uber
            <br>
            Envíos Puerta a Puerta
            <br>
          </strong></h2>
      </label>
    </div>
    <br><br>
  </section>
