<body class="banner"></body>
<app-navbar></app-navbar>
<app-redes></app-redes>
<section id="panel" class="panel">
    <div class="container text-center">
        <div class="row mt-2 g-2 g-lg-3">
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-hashtag fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#redesModal">
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-image fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-camera-retro fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </i>
                                </button>
                            </div>
                        </div>
        </div>               
        <div class="row mt-2 g-2 g-lg-3">
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-address-card fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#acercaDeMiModal">
                                    </i>
                                    
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-user-tie fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </i>
                                </button>
                        </div>
                        </div>
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-briefcase fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </i>
                                </button>
                            </div>
                        </div>
        </div>
        <div class="row mt-2 g-2 g-lg-3">
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-graduation-cap fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#educacionalModal">
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-dumbbell fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </i>
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div>
                                <button type="button" class="btn btn-primary btn-lg p-5">
                                    <i class="fa-solid fa-file-pen fa-2xl"
                                        type="button" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    </i>
                                </button>
                            </div>
                        </div>
        </div>
    </div>
</section>
